{% extends 'base.html' %}
 
{% block snippet %}
 <p> <br> </p>
 {% for span_portion in span_portions %}
  {% if span_portion ==  entity%}
   <mark>{{ span_portion }}</mark>
  {% else %}
   {{ span_portion }}
  {% endif %}
 {% endfor %}
{% endblock %}

{% block question %}
 <p> <br> </p>
 <p style="text-indent: 100px"><b>Does the snippet use *objective language* to describe:</b></p>
 <p style="text-indent: 110px">- {{ entity }}?</p>
 <p style="text-indent: 110px">- {{ entity }}'s business or area of expertise?</p>
 <p style="text-indent: 110px">- {{ entity }}'s past or current actions?</p>
 <p style="text-indent: 110px">- A product or service provided/manufactured by {{ entity }}</p>
{% endblock %}

{% block submission %}
 <form action="/fact/" method="post">
  {% csrf_token %}
  {{ text_form }}
  <input type="submit" value="Submit">
 </form>
{% endblock %}