{% extends 'base.html' %}
 
{% block snippet %}
 <p> <br> </p>
 {% for span_portion in span_portions %}
  {% if span_portion ==  entity%}
   <mark>{{ span_portion }}</mark>
  {% else %}
   {{ span_portion }}
  {% endif %}
 {% endfor %}
{% endblock %}

{% block question %}
 <p> <br> </p>
 <p style="text-indent: 100px"><b>Does the snippet use *subjective language* to describe:</b></p>
 <p style="text-indent: 110px">- {{ entity }}?</p>
 <p style="text-indent: 110px">- {{ entity }}'s business or area of expertise?</p>
 <p style="text-indent: 110px">- {{ entity }}'s past or current actions?</p>
 <p style="text-indent: 110px">- A product or service provided/manufactured by {{ entity }}</p>
{% endblock %}

{% block submission %}
 <form action="/opinion/" method="post">
  {% csrf_token %}
  {{ text_form.as_p }}
  <input type="submit" value="Submit">
 </form>
{% endblock %}

{% block correction %}
 <style>
  .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 40px 20px;
      cursor: pointer;
    }
    
  .correction_opinion {background-color: #FF0000;} /* red */
 </style>
 <p></p>
 <p></p>
 <p></p>
 <form action="/opinion/" method="post">
   {% csrf_token %}
   <button class = "button correction_opinion" type="submit" name='correction_opinion' value={{correction_opinion}}>Correct Previous Label</button>
 </form>

{% endblock %} 